<% @songs.each do |song| %>
  <div>
    <b><i><%= song.artist %></i></b><br />
    <q><i><%= song.song %></i></q><br />
    <font color="red"><i><%= song.key %></i></font><br />
  </div>

  <hr />
<% end %>